*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* --- COLORES PRIMARIOS (La identidad de la carga y logística) --- */
  --primario-negro: #1A1A1B;      /* Para textos, menús y secciones fuertes */
  --primario-blanco: #FFFFFF;     /* Para fondos limpios y legibilidad */
  --primario-gris-fondo: #F4F4F5; /* Para separar secciones (como el footer o cards) */

  /* --- COLORES SECUNDARIOS (El toque Premium y de Acción) --- */
  --secundario-dorado: #C5A059;   /* El color principal de botones y logos */
  --secundario-dorado-luz: #E2C285; /* Para efectos hover o detalles sutiles */
  --secundario-gris-texto: #5E5E60; /* Para textos menos importantes (descripciones) */
}
body {
    background-color: var(--primario-gris-fondo);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.logo{
    cursor: pointer;
    justify-content: left;
}

.nav-list{
    list-style: none;
}

.nav-list li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-list li a{
    transition: all 0.3s ease 0s; 
    text-decoration: none;
    color: var(--primario-negro);

}

.nav-list li a:hover{

    color: var(--secundario-dorado-luz);
    
}

header button {
    padding: 9px 25px;
    background-color: var(--secundario-dorado-luz);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover{

    background-color: var(--secundario-dorado);
}

/* Nosotros */
.subtitulo{
    color: #E2C285;;
    letter-spacing: 2px;
}
.contenedor-nosotros{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://plus.unsplash.com/premium_photo-1661963219843-f1a50a6cfcd3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;     
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 400px;         
    color: white;
    text-align: center;  
}
.contenido-nosotros h1 {
    font-size: 3rem;
    margin: 10px 0;
}
.descripcion{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

/*MISIÓN Y VISIÓN*/
.mision-vision {
    padding: 60px 10px; 
    background: #f9fafb;
}
.mv-contenedor {
    display: flex;
    justify-content: center;
    gap: 80px;
    max-width: 1100px;
    margin: 0 auto;
}
.mv-tarjeta {
    flex: 1;
    max-width: 550px;
    background: #f3f3f5d0;
    padding: 60px;
    border-radius: 12px;
}
.mv-tarjeta h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #0f172a;
}
.mv-tarjeta p {
    font-size: 20px;
    line-height: 1.5;
    color: #6b7280;
}

/* Valores */
.valores {
    padding: 100px 20px;
    text-align: center;
    background-color:#F4F4F5
}
.valores h2 {
    font-size: 32px;
    margin-bottom: 50px;
    color: #0f172a;
}
.valores-contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}
.valor-tarjeta {
    background: #f5f6f8;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    transition: 0.3s;
}
.valor-tarjeta h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #0f172a;
}
.valor-tarjeta p {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.6;
}

/* Estadisticas */
.estadisticas {
    background: #C5A059;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
}
.estadisticas h2 {
    font-size: 28px;
    margin-bottom: 50px;
}
.stats-contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
}
.stat-tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stat-numero {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.stat-etiqueta {
    font-size: 14px;
}

/* CONTACTO */
.contacto{
    padding: 100px 20px 60px;
    text-align: center;
    background-color: #f9fafb;
}
.contacto-subtitle {
    color: #C5A059;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: bold;
}
.contacto-title {
    font-size: 42px;
    font-weight: bold;
    color: #0f172a;
    margin-bottom: 20px;
}
.contacto-text {
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    color: #6b7280;
    line-height: 1.6;
}
.contacto-formulario {
    padding: 100px 20px;
    background: #f9fafb;
}
.contacto-form {
    background: #f5f6f8;
    padding: 40px;
    border-radius: 12px;
    max-width: 900px;
    margin: 0 auto;
}
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #0f172a;
}
.form-group input,
.form-group select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}
.btn-contacto {
    margin-top: 30px;
    padding: 14px 20px;
    background: #C5A059;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}