*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* --- COLORES PRIMARIOS (La identidad de la carga y logística) --- */
  --primario-negro: #1A1A1B;      /* Para textos, menús y secciones fuertes */
  --primario-blanco: #FFFFFF;     /* Para fondos limpios y legibilidad */
  --primario-gris-fondo: #F4F4F5; /* Para separar secciones (como el footer o cards) */

  /* --- COLORES SECUNDARIOS (El toque Premium y de Acción) --- */
  --secundario-dorado: #C5A059;   /* El color principal de botones y logos */
  --secundario-dorado-luz: #E2C285; /* Para efectos hover o detalles sutiles */
  --secundario-gris-texto: #5E5E60; /* Para textos menos importantes (descripciones) */
}
body {
    background-color: var(--primario-gris-fondo);
}

.nav-bar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.logo h2 {
    cursor: pointer;
    justify-content: left;
    font-family: ;
    font-weight: 400;
    font-size: 16px;
}


.nav-list{
    list-style: none;
}

.nav-list li{
    font-family: ;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    text-transform: capitalize;
    display: inline-block;
    padding: 0px 20px;
}

.nav-list li a{
    transition: all 0.3s ease 0s; 
    text-decoration: none;
    color: var(--primario-negro);

}

.nav-list li a:hover{

    color: var(--secundario-dorado-luz);
    
}

header button {
    padding: 9px 25px;
    background-color: var(--secundario-dorado-luz);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover{

    background-color: var(--secundario-dorado);


}
